@{
    ViewBag.Title = "CreateTire";
}

<div style="width:100%; float:left;">
    <p style="visibility:hidden">@TempData["user"]</p>
    <h4> @Html.ActionLink("⇚ Tillbaka till startsidan", "AdminStart", new { id = TempData["user"] })</h4>
</div>
<div id="lagg-till-dack" class="tabcontent">

    <h1 style="margin-bottom:5%;">Lägg till nytt däck</h1>
    @using (Html.BeginForm())
    {
        <h4 style="color:green; margin-left:0%;">@TempData["CreatedTire"]</h4>
        <form>
            <fieldset>

                <div style="margin-left:40%;" class="form-group">
                    <label style="margin-right:69%; font-weight:bold; color:black; font-size:20px;">Märke</label>
                    <input type="text" class="form-control" name="brand" required>
                    <small style="margin-right:69%" class="form-text text-muted">Fyll i däckets märke(tillverkare)</small>
                </div>


                <div style="margin-left:40%;" class="form-group">
                    <label style="margin-right:69%;font-weight:bold; color:black; font-size:20px;">Dimension</label>
                    <input type="text" class="form-control" name="dimension" required>
                    <small style="margin-right:69%" class="form-text text-muted">Fyll i däckets dimension</small>
                </div>

                <div style="margin-left:40%;" class="form-group">
                    <label style="margin-right:69%;font-weight:bold; color:black; font-size:20px;">Typ</label>
                    <input type="text" class="form-control" name="type" required>
                    <small style="margin-right:69%" class="form-text text-muted">Fyll i däckets typ</small>
                </div>

                <div style="margin-left:40%;" class="form-group">
                    <label style="margin-right:69%;font-weight:bold; color:black; font-size:20px;">Säsong</label>
                    <input type="text" class="form-control" name="season"  required>
                    <small style="margin-right:69%" class="form-text text-muted">Fyll i säsong "Sommar" eller "Vinter"</small>
                </div>

                <div style="margin-left:40%;" class="form-group">
                    <label style="margin-right:69%;font-weight:bold; color:black; font-size:20px;">Bärighet</label>
                    <input type="text" class="form-control" name="tbc" required>
                    <small style="margin-right:69%" class="form-text text-muted">Fyll i däckets bärighet</small>
                </div>

                <div style="margin-left:40%;" class="form-group">
                    <label style="margin-right:69%;font-weight:bold; color:black; font-size:20px;">Rullmotstånd</label>
                    <input type="text" class="form-control" name="rl" required>
                    <small style="margin-right:69%" class="form-text text-muted">Fyll i däckets rullmotstånd</small>
                </div>

                <div style="margin-left:40%;" class="form-group">
                    <label style="margin-right:69%;font-weight:bold; color:black; font-size:20px;">Bromssträcka</label>
                    <input type="text" class="form-control" name="bd" required>
                    <small style="margin-right:69%" class="form-text text-muted">Fyll i däckets bromssträcka</small>
                </div>

                <div style="margin-left:40%;" class="form-group">
                    <label style="margin-right:69%;font-weight:bold; color:black; font-size:20px;">Ljudnivå</label>
                    <input type="text" class="form-control" name="sd"  required>
                    <small style="margin-right:69%" class="form-text text-muted">Fyll i däckets ljudnivå</small>
                </div>

                <div style="margin-left:40%;" class="form-group">
                    <label style="margin-right:69%;font-weight:bold; color:black; font-size:20px;">Inköpspris</label>
                    <input type="text" class="form-control" name="inprice" pattern="[-+]?[0-9]*[,]?[0-9]+" required>
                    <small style="margin-right:69%" class="form-text text-muted">Fyll i däckets inköpspris</small>
                </div>

                <div style="margin-left:40%;" class="form-group">
                    <label style="margin-right:69%;font-weight:bold; color:black; font-size:20px;">A-pris</label>
                    <input type="text" class="form-control" name="outpriceA"  pattern="[-+]?[0-9]*[,]?[0-9]+" required>
                    <small style="margin-right:69%" class="form-text text-muted">Fyll i däckets A-pris</small>
                </div>

                <div style="margin-left:40%;" class="form-group">
                    <label style="margin-right:69%;font-weight:bold; color:black; font-size:20px;">B-pris</label>
                    <input type="text" class="form-control" name="outpriceB" pattern="[-+]?[0-9]*[,]?[0-9]+" required>
                    <small style="margin-right:69%" class="form-text text-muted">Fyll i däckets B-pris</small>
                </div>

                <div style="margin-left:40%;" class="form-group">
                    <label style="margin-right:69%;font-weight:bold; color:black; font-size:20px;">Lagersaldo</label>
                    <input type="text" class="form-control" name="balance" pattern="\d*" required>
                    <small style="margin-right:69%" class="form-text text-muted">Fyll i lagersaldo</small>
                </div>

                <button style="margin-top:3%;" type="submit" class="btn btn-success">Lägg till däck</button>


            </fieldset>

        </form>


    }

</div>
