
@{
    ViewBag.Title = "EditTire";
}

<div>
    <h1 style="margin-bottom:5%; text-align:center;">Redigera däck</h1>


    <form>
        <fieldset>

            <div style="margin-left:40%;" class="form-group">
                <label style="margin-right:69%; font-weight:bold; color:black; font-size:20px;">ID</label>
                <input type="text" class="form-control">
                <small style="margin-right:69%" class="form-text text-muted"></small>
            </div>

            <div style="margin-left:40%;" class="form-group">
                <label style="margin-right:69%; font-weight:bold; color:black; font-size:20px;">Märke</label>
                <input type="text" class="form-control">
                <small style="margin-right:69%" class="form-text text-muted">Fyll i däckets märke(tillverkare)</small>
            </div>


            <div style="margin-left:40%;" class="form-group">
                <label style="margin-right:69%;font-weight:bold; color:black; font-size:20px;">Dimension</label>
                <input type="text" class="form-control">
                <small style="margin-right:69%" class="form-text text-muted">Fyll i däckets dimension</small>
            </div>

            <div style="margin-left:40%;" class="form-group">
                <label style="margin-right:69%;font-weight:bold; color:black; font-size:20px;">Typ</label>
                <input type="text" class="form-control">
                <small style="margin-right:69%" class="form-text text-muted">Fyll i däckets typ</small>
            </div>

            <div style="margin-left:40%;" class="form-group">
                <label style="margin-right:69%;font-weight:bold; color:black; font-size:20px;">Säsong</label>
                <input type="text" class="form-control">
                <small style="margin-right:69%" class="form-text text-muted">Fyll i säsong "Sommar" eller "Vinter"</small>
            </div>

            <div style="margin-left:40%;" class="form-group">
                <label style="margin-right:69%;font-weight:bold; color:black; font-size:20px;">Bärighet</label>
                <input type="text" class="form-control">
                <small style="margin-right:69%" class="form-text text-muted">Fyll i däckets bärighet</small>
            </div>

            <div style="margin-left:40%;" class="form-group">
                <label style="margin-right:69%;font-weight:bold; color:black; font-size:20px;">Rullmotstånd</label>
                <input type="text" class="form-control">
                <small style="margin-right:69%" class="form-text text-muted">Fyll i däckets rullmotstånd</small>
            </div>

            <div style="margin-left:40%;" class="form-group">
                <label style="margin-right:69%;font-weight:bold; color:black; font-size:20px;">Bromssträcka</label>
                <input type="text" class="form-control">
                <small style="margin-right:69%" class="form-text text-muted">Fyll i däckets bromssträcka</small>
            </div>

            <div style="margin-left:40%;" class="form-group">
                <label style="margin-right:69%;font-weight:bold; color:black; font-size:20px;">Ljudnivå</label>
                <input type="text" class="form-control">
                <small style="margin-right:69%" class="form-text text-muted">Fyll i däckets ljudnivå</small>
            </div>

            <div style="margin-left:40%;" class="form-group">
                <label style="margin-right:69%;font-weight:bold; color:black; font-size:20px;">Inköpspris</label>
                <input type="text" class="form-control">
                <small style="margin-right:69%" class="form-text text-muted">Fyll i däckets inköpspris</small>
            </div>

            <div style="margin-left:40%;" class="form-group">
                <label style="margin-right:69%;font-weight:bold; color:black; font-size:20px;">A-pris</label>
                <input type="text" class="form-control">
                <small style="margin-right:69%" class="form-text text-muted">Fyll i däckets A-pris</small>
            </div>

            <div style="margin-left:40%;" class="form-group">
                <label style="margin-right:69%;font-weight:bold; color:black; font-size:20px;">B-pris</label>
                <input type="text" class="form-control">
                <small style="margin-right:69%" class="form-text text-muted">Fyll i däckets B-pris</small>
            </div>

            <div style="margin-left:40%;" class="form-group">
                <label style="margin-right:69%;font-weight:bold; color:black; font-size:20px;">Lagersaldo</label>
                <input type="text" class="form-control">
                <small style="margin-right:69%" class="form-text text-muted">Fyll i lagersaldo</small>
            </div>

            <button style="margin-top:3%; margin-left:44%" type="submit" class="btn btn-primary">Uppdatera</button>


        </fieldset>

    </form>




</div>

