
@{
    ViewBag.Title = "PageNotFound";
}

<div class="error-container" style="text-align:center; width:100%; margin-bottom:5%; margin-top:2%;">
    <h1>Ops...</h1>
    <br />

    <h6>
        Sidan är inte tillgänlig. Du kanske skrev fel adress eller så har vi tagit bort sidan.
    </h6>
    <br />
    <br />
    <a href="/">Till startsidan</a>


</div>
