body {



}

#logo
{
    max-height: 200px; 
    max-width: 500px; 
    height: auto; 
    width:auto; 
}
#settingslogo {
    max-height:20px;
    max-width:20px;
    height:auto;
    width:auto;

}
.gg-content{
    padding:2%;
}
.tabletd{
    color:black;
}
.tableth {
    color: white;
    background-color: #606060;
} 

#login
{


}

.tablinkselection 
{
    margin-bottom: 5%;
}

.tabcontent
{
    text-align:center; 
} 


@media only screen and (max-width: 580px) {
    #logo
{
    height:100%; 
    width:100%; 

}

} 
